#home-wrapper {
  /* background-image: url('../images/index_background.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
}

#main-content {
  padding-top: 10vh;
  text-align: center;
}

#main-title {
  font-size: 1.9rem;
  font-weight: 600;
  color: rgb(75, 73, 73);
  animation: main-ani 1000ms 300ms ease forwards;
  opacity: 0;
}

#sub-description {
  padding-top: 1vh;
  color: rgb(109, 105, 105);
  animation: main-ani 1000ms 700ms ease forwards;
  opacity: 0;
}

#button-section {
  padding-top: 1.5vh;
  animation: main-ani 1000ms 1100ms ease forwards;
  opacity: 0;
}

.button-item {
  padding-top : 2vh;
}

.button-style {
  width: 20vw;
  height: 5vh;
  font-size: 1.15rem;
  background-color: #bdd2b6;
  color: rgb(75, 73, 73);
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.button-style:hover {
  background-color: #91c788;
  color: rgb(26, 25, 25);
  box-shadow: 0px 0px 10px 0px rgb(105, 105, 105);
}

.button-style:focus {
  outline: none;
}

@keyframes main-ani {
  from{
      opacity: 0;
      transform: translateY(3vh);
  }
  to{
      opacity: 1;
      transform: translateY(0);
  }
}
