html {
    height: 100%;
    background: linear-gradient(137deg, #eb6282, rgb(158, 150, 75), #509eb6); 
    background-size: 800% 800%;
    background-repeat: no-repeat;
    animation: gradaitonAni 9s ease infinite;
}

#main-title {
    font-size: 1.9rem;
    color: white;
    font-weight: 600;
}

#main-contents {
    margin-top: 18vh;
    text-align: center;
    padding-bottom: 10vh;
    animation: main-ani 1.6s 200ms ease forwards;
    opacity: 0;
}

#sub-desc {
    color: rgb(243, 240, 240);
    font-size: 1.1rem;
    font-weight: 530;
    padding-top: 1vh;
}

#question-contents {
    padding-top: 10vh;
    color: rgb(243, 240, 240);
    font-size: 1.2rem;
    font-weight: 530;
}

#question-contents-title {
    padding-bottom: 2vh;
    text-align: center;
}

.question-category {
    border: rgb(243, 240, 240) solid 2px;
    border-radius: 10px;
    width: 50vw;
    height: 5.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0vh auto 1.5vh auto;
    cursor: pointer;
}

.question-category:hover {
    box-shadow: 0px 0px 10px 0px rgb(218, 218, 218);
}

.question-table {
    color: rgb(230, 227, 227);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 auto 5vh auto;
    display: none;
    padding-left: 0;
}

.question-item {
    display: none;
    list-style: none;
}

#start-button {
    margin-top: 2vh;
    background : none;
    color: rgb(230, 227, 227);
    font-size: 1rem;
    font-weight: 550;
    padding: 8px 10px;
    border: rgb(230, 227, 227) solid 2px;
    border-radius: 7px;
    cursor: pointer;
}

#start-button:hover {
    box-shadow: 0px 0px 10px 0px rgb(218, 218, 218);
}

#start-button:focus {
    outline: none;
}

@keyframes gradaitonAni {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes main-ani {
    from {  opacity: 0;  }
    to {  opacity: 1;  }
}